// scss-lint:disable SpaceAfterPropertyColon
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'widget/assets/scss/reset';
@import 'shared/assets/fonts/font_variables';

html,
body {
  font-family: $cw-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  letter-spacing: 0.2px;
}

#cw-article-content,
#cw-article-content.prose,
#cw-article-content.ck-content {
  font-family: $cw-font-family;
}

.article-content {
  .responsive-embed {
    overflow: hidden;
    position: relative;
  }

  .responsive-embed__media {
    border: 0;
    border-radius: 0.375rem;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

// Taking these utils from tailwind 3.x.x, need to remove once we upgrade
.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

.top-24 {
  top: 6rem;
}

.heading {
  .permalink {
    visibility: hidden;
  }

  &:hover {
    .permalink {
      visibility: visible;
    }
  }
}
